body {
    background-color: #efeee7;
    background-image: url("assets\images\0F544631-.jpg") repeat;
    font-family: "Arial";
    color: #777777;
    margin: auto;
    padding: 0;
}

a:link, a:visited {
    color: #aeacb0;
    text-decoration: none;
}

a:hover {
    color: black;
}

header {
    background-color: #ffffff;
    font-family: "Georgia, Times, Times New Roman, Serif";
    border-bottom: 3px solid #cccccc;
}

h1 {
    margin-bottom: 0px;
    font-size: 28px;
    color: #eee;
    text-align: center;
    background-color: #4aaaa5;
    width: 230px;
    padding: 20px 0 20px 0;
    font-weight: bold;
    position: relative;
}

nav {
    float: right;
    position: relative;
    bottom: 45px;
    display: flex;
    font-size: 20px;
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 24px;
    margin: 10px;
    border-bottom: 3px solid #e1e1e1;
    background: none;
    color: #4aaaa5;
    font-family: "Times New Roman";
    font-size: 30px;
    font-weight: bold;
    padding: 25px;
    padding-left: 5px;
}

h3 {
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}

#bio-image {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 200px;
    float: left;
}

p {
    text-align: justify;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    line-height: 1.5;
}

ul {
    text-align: center;
    font-size: 35px;
    border-style: solid;
    border-width: 5px;
    list-style-position: inside;
}

div {
    background: transparent;
}

footer {
    background: #666666;
    border-top: 5px solid #4aaaa5;
}

.headercontent {
    width: 960px;
    margin: auto;
}

.container {
    background: #ffffff;
    padding: 0;
    margin: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    width: 960px;
    position: relative;
    top: 35px
}

.about {
    padding-left: 20px;
    padding-right: 20px;    
}